<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>FlyKuty</title>
    <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
</head>
<body>

    <form action="/flights/search/" method="get" id="site-searchform">
        
        <div class="elem-group">
          <label for="departureAirport">Departure Airport</label>
          <input list="cities" type="text" id="search-k" name="searchda" placeholder="From where">
          <datalist id="cities">
            <% for(let i=0; i < cities.length; i++ ) { %>
              <option value="<%= cities[i].name %>"><%= cities[i].name %></option>

            <% } %>
          </datalist>
        </div>

        <div class="elem-group">
          <label for="arrivalAirport">Arrival Airport</label>
          <input list="cities" type="text" id="search-k" name="searchaa" placeholder="To where">
          <datalist id="cities">
            <% for(let i=0; i < cities.length; i++ ) { %>
              <option value="<%= cities[i].name %>"><%= cities[i].name %></option>

            <% } %>
          </datalist>
        </div>

        <div class="elem-group inlined" id="depDate">
          <label for="checkin-date">Date of Go</label>
          <input type="date" id="checkin-date" name="checkindt">
        </div>

        <div class="elem-group inlined" id="arrDate">
          <label for="checkin-date">Date of Return</label>
          <input type="date" id="checkin-date" name="checkinat">
        </div>

        <div class="elem-group">
          <label for="sortparams">Sort By:</label>
          <select name="sortby">
              <option value="departureDate">Departure Date</option>
              <option value="arrivalDate">Arrival Date</option>
              <option value="flightLength">Flight Length</option>
              <option value="price">Price</option>
          </select>
      </div>

      <div class="mx-auto">
        <label class="container">
            <h4 class="">One Direction</h4>
            <input name="cbox" type="checkbox" id="cbox">
            <span class="checkmark"></span>
        </label>
      </div>

        
        <div class="max-w">
          <button id="search-submit" value="Search" type="submit">List The Flights</button>
        </div>
      </form>
</body>
</html>

<script src=”https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js” integrity=”sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo” crossorigin=”anonymous”></script>

<script src=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js” integrity=”sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/” crossorigin=”anonymous”></script>

<script src="/js/script.js"></script>